<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleCore97.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="/css/mobile.css">
    <link rel="stylesheet" media="screen and (min-width: 1100px)" href="/css/widescreen.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Core 97</title>
</head>

<body id="home">
    <!--Navbar-->
    <div id="backgHead">
		<video loop muted autoplay class="fullscreen-bg__video">
        <source src="/imagenes/Showcase.mp4" type="video/webm">
        <source src="/imagenes/Showcase.mp4" type="video/mp4">
        <source src="/imagenes/Showcase.mp4" type="video/ogg">
    </video>
    <nav id="navbar">

        <h1 class="logo">
       <span class="text-primary">
            <i class="fas fa-mug-hot"></i> Core</span> 97
        </h1>
        <ul>
            <li><a href="#home">I n i c i o</a></li>
            <li><a href="#what">M i s i ó n</a></li>
            <li><a href="#who">N o s o t r o s</a></li>
            <li><a href="#contact">C o n t a c t o</a></li>
        </ul>
    </nav>
    <!--HEADER-->


    <header id="showcase">
        <div class="showcase-content">
            <div class="description">
                <h1 class="l-heading">
                    <span class="text-primary" style="margin-top: -50px;"> Trabaja</span> donde sea
                </h1>
            </div>
            <div class="firstPic"></div>
            <div class="secondPic"></div>
            <div class="Line"></div>
        </div>
    </header>
    </div>
    <!--Section: What We Do-->

    <section id="who">
        <div class="who-img"></div>
        <div class="bg-dark p-2">
            <h2 class="m-heading"><span class="text-primary">Nuestra</span> historia</h2>
            <p>Somos Core 97. Es un lugar creado para y por personas que trabajan, estudian o necesitan contar con un espacio de cualquier tipo para reuniones y eventos especiales, allí podrás encontrar la mezcla entre el diseño, la dulzura y un ambiente
                muy distinto que combina lo mejor de la comida con espacios para cualquier persona, la creatividad y la innovación son nuestros pilares. Siempre buscamos trabajar en comunión con el medio ambiente, productos locales, cocineros artesanales,
                espacios personalizados logrando productos y experiencias únicas. No vendemos café, ni alquilamos un lugar, vendemos una experiencia que nadie más te puede dar.</p>

        </div>
    </section>
    <section id="what" class="bg-light py-1">
        <div class="container">
            <h2 class="m-heading text-center"> <span class="text-primary">Nuestros servicios</span></h2>
            <div class="elements">

                <div class="element">
                    <div class="combo">
                        <img src="/imagenes/office.jpg">
                        <div class="descrip-combo bg-primary-core">
                            <h1>SALA 1</h1>
                            <p>Sala de junta grande: Porque todo negocio tiene derecho a trabajar en un lugar que inspire. Ofrecemos oficinas privadas para ti y tu equipo con acceso 24/7 a todas nuestras ubicaciones, una oficina completamente amoblada, con
                                su propia línea telefónica, logo de la compañía y todos los beneficios que tenemos para ofrecer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="element">
                    <div class="combo">
                        <div class="descrip-combo bg-primary-core">
                            <h1>SALA 2</h1>
                            <p>Mucho más que tu clásica oficina virtual. Tu empresa desde cualquier lugar.Dale a tu empresa la presencia que merece, desde la recepción de llamadas y correspondencias, hasta el acceso a nuestras ubicaciones y eventos.
                            </p>
                        </div>
                        <img src="/imagenes/office 2.jpg">
                    </div>
                </div>
                <div class="element">
                    <div class="combo">
                        <img src="/imagenes/office 3.jpg">
                        <div class="descrip-combo bg-primary-core">
                            <h1>SALA 3</h1>
                            <p>Logra un impacto positivo reservando cualquiera de nuestras salas.Reserva tu sala en cualquiera de nuestras ubicaciones. Nuestros salones cuentan con todo los equipos que necesitas para llevar a cabo de la mejor manera esas
                                reuniones de negocios, talleres o sesiones de trabajo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--Section: Reserve -->
    <section id="contact">
        <div class="error">
            <%= messages.error%>
        </div>
        <div class="contact-form bg-primary-core ">
            <h2 class="m-heading">Reservar</h2>
            <p>Por favor, ingrese la información solicitada para realizar su reserva.</p>
            <form action="/add" method="POST">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" name="NombrePerso" id="NombrePerso">
                </div>
                <div class="form-group">
                    <label for="First Surname">Apellido</label>
                    <input type="text" name="ApellidoPerso" id="ApellidoPerso">
                </div>
                <div class="form-group">
                    <label for="Secondsurname">Segundo Apellido</label>
                    <input type="text" name="SegundoApellidoPerso" id="SegundoApellidoPerso">
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" name="CorreoPerso" id="CorreoPerso">
                </div>
                <div class="form-group">
                    <label for="phone">Número telefónico</label>
                    <input type="text" name="TelefonoPerso" id="TelefonoPerso">
                </div>
                <div class="form-group">
                    <label for="information">Sala a escoger</label>
                    <select name="Sala" id="Sala">
                        <option value="1">Sala 1</option>
            
                        <option value="2">Sala 2</option>
                        
                        <option value="3">Sala 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="date" name="Fecha" id="Fecha" min="2020-01-01" max="2020-12-31">
                </div>
                <div class="form-group">

                    <label for="hora">Hora de reserva (formato de 24 hrs) </label>
                    <input type="time" name="Hora" id="Hora">
                </div>
                <div class="form-group">
                    <label for="information">Horas de entrega de sala (formato de 24 hrs)</label>
                    <input type="time" name="HoraEntrega" id="HoraEntrega">
                </div>
                <input value="ENVIAR" type="button" class="btn-dark bton">

        </div>
        </form>

        <section class="reserve-rightbox">

        </section>

    </section>


    <!--Footer-->
    <footer id="main-footer" class="bg-dark text-center py-1">
        <div class="container">
            <h2 class="m-heading text-center">
                <span class="text-primary">
                     </span>Síguenos en nuestras redes sociales</h2>
            <div class="items py-1">
                <div class="item"> <img src="../imagenes/icons8_facebook_old_50px_1.png" alt="">
                    <img src="../imagenes/icons8_instagram_50px_1.png" alt="">
                    <img src="../imagenes/icons8_twitter_50px.png" alt=""></div>
                <p>Copyright &copy; 2019, Café 97, All Rights Reserved</p>
            </div>
        </div>

    </footer>



    <script src="/errorhandling.js"></script>
    <script src="/errorCore97.js"></script>
</body>