<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
</head>

<body>
    <div class="contenedorImgs">
        <div class="CoreSection">
            <div class="Core97img">
                <div class="Core97imgLayout">

                </div>
            </div>
        </div>
        <div class="Cafe97Section">
            <div class="Cafe97img">
                <div class="Cafe97imgLayout">

                </div>
            </div>
        </div>
    </div>

</body>


</html>