<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
</head>

<body class="bodyHomePage">
    <div class="contenedorImgs">
        <a href="/Core97">
            <div class="CoreSection">
                <div class="Core97img">
                    <h3 class="l-title l-Core97">Core97</h3>
                    <div class="Core97imgLayout">
                    </div>
                </div>
            </div>
        </a>
        <a href="/Cafe97">
            <div class="Cafe97Section">
                <div class="Cafe97img">
                    <h3 class="text-primary l-title l-Cafe97">Cafe97</h3>
                    <div class="Cafe97imgLayout">
                    </div>
                </div>
            </div>
        </a>
    </div>

</body>


</html>