<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
</head>

<body class="bodyHomePage">
    <div class="contenedorImgs">
<<<<<<< HEAD
        <div class="CoreSection">
            <div class="Core97img">


                <div class="Core97imgLayout">
                    <h3 class="l-Core97">CORE 97</h3>
                </div>
            </div>
        </div>
        <div class="Cafe97Section">

            <div class="Cafe97img">

                <div class="Cafe97imgLayout">

                    <h3 class="l-Core97">CAFE 97</h3>
=======
        <a href="/Core97">
            <div class="CoreSection">
                <div class="Core97img">
                    <h3 class="l-title l-Core97">Core97</h3>
                    <div class="Core97imgLayout">
                    </div>
                </div>
            </div>
         </a>
         <a href="/Cafe97">
            <div class="Cafe97Section">
                <div class="Cafe97img">
                    <h3 class="text-primary l-title l-Cafe97">Cafe97</h3>
                    <div class="Cafe97imgLayout">
                    </div>
>>>>>>> 1fbd064cdf2f2f980424b97779dc67b9c3f8e8ce
                </div>
            </div>
         </a>
    </div>

</body>


</html>