<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/StyleJoinOurTeam.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="/css/mobile.css">
    <link rel="stylesheet" media="screen and (min-width: 1100px)" href="/css/widescreen.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Core 97</title>
</head>

<body id="home">
    <!--Navbar-->
    <nav id="navbar">
        <!--Se pone el navbar afuera del header para que funcione como sticky-->
        <!--Si se pone adentro entonces cuando llegue al final de la pagina va a desaparecer-->
        <h1 class="logo">
            <span class="text-primary">
            <i class="fas fa-mug-hot"></i> Core</span> 97
        </h1>
        <ul>
            <!--li{<a href="#"></a>}*4-->
            <li><a href="#home">H o m e</a></li>
            <li><a href="#what">W h a t</a></li>
            <li><a href="#who">W h o</a></li>
            <li><a href="#contact">C o n t a c t</a></li>
        </ul>
    </nav>
    <!--HEADER-->


    <header id="showcase">
        <div class="showcase-content">
            <div class="description">
                <h1 class="l-heading">
                    <span class="text-primary">Work</span> anywhere
                </h1>
            </div>
            <div class="firstPic"></div>
            <div class="secondPic"></div>
            <div class="Line"></div>
        </div>
    </header>

    <!--Section: What We Do-->

    <section id="who">
        <div class="who-img"></div>
        <div class="bg-dark p-2">
            <h2 class="m-heading"><span class="text-primary">Our</span> Story</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsum odit sint recusandae pariatur rem cupiditate similique aperiam ullam. Illo maxime voluptatum officiis corrupti id aut ullam, culpa aspernatur eum voluptate alias inventore
                voluptas assumenda similique reprehenderit tempore quas dolorem, quis obcaecati aperiam. Voluptatibus, architecto ex. Vel voluptas officiis molestiae optio aliquid pariatur a voluptates! Est dolor fugit voluptatum earum tempore doloremque
                quae molestiae, doloribus delectus labore, perspiciatis autem officia impedit voluptate! Voluptas, ratione porro voluptatem illo natus commodi quis voluptates quidem perferendis eius repudiandae sed laudantium reprehenderit quod tenetur
                eveniet hic possimus voluptatum, saepe itaque explicabo! Omnis, nam nulla!</p>

        </div>
    </section>
    <section id="what" class="bg-light py-1">
        <div class="container">
            <h2 class="m-heading text-center"> <span class="text-primary">Combos</span></h2>
            <div class="elements">

                <div class="element">
                    <div class="combo">
                        <img src="/imagenes/office.jpg">
                        <div class="descrip-combo bg-primary-core">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis explicabo perspiciatis necessitatibus vero accusantium soluta similique? Ipsum, qui quae fugit laborum suscipit sed iure incidunt dolor, non enim, sapiente
                                accusamus!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="element">
                    <div class="combo">
                        <div class="descrip-combo bg-primary-core">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis explicabo perspiciatis necessitatibus vero accusantium soluta similique? Ipsum, qui quae fugit laborum suscipit sed iure incidunt dolor, non enim, sapiente
                                accusamus!
                            </p>
                        </div>
                        <img src="/imagenes/office 2.jpg">
                    </div>
                </div>
                <div class="element">
                    <div class="combo">
                        <img src="/imagenes/office 3.jpg">
                        <div class="descrip-combo bg-primary-core">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis explicabo perspiciatis necessitatibus vero accusantium soluta similique? Ipsum, qui quae fugit laborum suscipit sed iure incidunt dolor, non enim, sapiente
                                accusamus!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--Section: Reserve -->
    <section id="contact">
        <div class="contact-form bg-primary-core p-2">
            <h2 class="m-heading">Reserve</h2>
            <p>Please enter the following information to reserve</p>
            <form action="/add" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="NombrePerso" id="NombrePerso" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="First Surname">First Surname</label>
                    <input type="text" name="ApellidoPerso" id="ApellidoPerso" placeholder="Enter First Surname">
                </div>
                <div class="form-group">
                    <label for="Secondsurname">Second Surname</label>
                    <input type="text" name="SegundoApellidoPerso" id="SegundoApellidoPerso" placeholder="Enter Second Surname">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="CorreoPerso" id="CorreoPerso" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="TelefonoPerso" id="TelefonoPerso" placeholder="Enter Phone Number">
                </div>
                <div class="form-group">
                    <label for="information">Information</label>
                    <select name="Combo" id="Combo" placeholder="Choose Combo">
                        <option value="1">Combo1</option>
            
                        <option value="2">Combo2</option>
                        
                        <option value="3">Combo3</option>
                </div>
            </select>
                </div>
                <div class="form-group">
                    <label for="fecha">Date</label>
                    <input type="date" name="Fecha" id="Fecha" min="2020-01-01" max="2020-12-31">
                </div>
                <input type="submit" value="Send" class="btn-dark">
            </form>

        </div>

        <section class="reserve-rightbox">
            <div class="reserve-container bg-dark">hola</div>
        </section>

    </section>


    <!--Footer-->
    <footer id="main-footer" class="bg-dark text-center py-1">
        <div class="container">
            <h2 class="m-heading text-center">
                <span class="text-primary">
                     </span>Follow us on our social networks</h2>
            <div class="items py-1">
                <div class="item"> <img src="../imagenes/icons8_facebook_old_50px_1.png" alt="">
                    <img src="../imagenes/icons8_instagram_50px_1.png" alt="">
                    <img src="../imagenes/icons8_twitter_50px.png" alt=""></div>
                <p>Copyright &copy; 2019, Café 97, All Rights Reserved</p>
            </div>
        </div>

    </footer>

    <!--JQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

    <!--Local JS File-->
    <script src="/main.js"></script>
    <script src="/animation.js"></script>
    <script src="/validation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.js"></script>
    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoZg2Es_GrQHZf_52j2-xZ3cTfBCR0HII&callback=initMap" async defer></script>
</body>