<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-menu-admin.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

    <div class="form-wrap">
        <div class="form-group"  >
            <p style="margin-top: -50px;">OPCIONES DE ADMINISTRADOR</p>
            <svg>
        <line class="animline" x1="0" y1="75" x2="300" y2="75"/>
      </svg>
        </div>
        <div class="form-group">
            <button id="reservaCliente"><a href="/reserva"> RESERVA & CLIENTE </a></button>
            <button id="cambiaContra"><a href="/loadCambioContra"> CAMBIAR CONTRASEÑA </a></button>
            <button id="imprimir"><a href="/loadPdf"> IMPRIMIR</a></button>
            <button id="cerrarSesion"><a href="/Cafe97"> CERRAR SESIÓN </a></button>

        </div>

    </div>

    <div class="wrap">
        <div class="widget">
            <div class="fecha">
                <p id="diaSemana" class="diaSemana"></p>
                <p id="dia" class="dia"></p>
                <p>de </p>
                <p id="mes" class="mes"></p>
                <p>del </p>
                <p id="year" class="year"></p>
            </div>

            <div class="reloj">
                <p id="horas" class="horas">11</p>
                <p>:</p>
                <p id="minutos" class="minutos">48</p>
                <p>:</p>
                <div class="caja-segundos">
                    <p id="ampm" class="ampm">AM</p>
                    <p id="segundos" class="segundos">12</p>
                </div>
            </div>
        </div>
    </div>
    <script src="reloj.js"></script>
</body>

</html>