@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {
    box-sizing: border-box;
    /*Resseting everything*/
    margin: 0;
    padding: 0;
}

:root {
    --principal: #fa9960;
    /*Es emjor usar SASS para  jjjj crear variables por la compatibilidad en exploradores*/
}

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}


/*Utility Classes*/

.container {
    overflow: hidden;
    margin: auto;
    max-width: 1100px;
    padding: 0 2rem;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #fa9960;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

.l-heading,
.lead {
    animation-name: head_appear;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    animation-duration: 2s;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation-delay: 2s;
    animation-duration: 2s;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.btn {
    color: #f4f4f4;
    display: inline-block;
    background: #fa9960;
    padding: 2rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #fa9170;
}

.error,
.errorHora {
    background-color: #ffdbdb;
    position: absolute;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.bg-primary {
    background: #fa9960;
    color: #f4f4f4;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: dotted 1px #444;
}


/*Navbar*/

#navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background: #000;
    color: #f4f4f4;
    z-index: 2;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    /*Vertical*/
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #fa9960;
    border-radius: 5px;
}


/* Showcase */

#showcase {
    background: #333 url(../imagenes/cafe2.jpg) no-repeat center center/cover;
    height: 100vh;
    color: #f4f4f4;
    position: relative;
}

#showcase .showcase-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Section: What We Do*/

#what .items {
    display: flex;
    align-content: center;
}

#what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .item img {
    border-radius: 80%;
    display: block;
    /*Se utiliza display block para poder poner un width y mas
                    que todo poder CENTRARLOS con margin*/
    margin: auto;
    width: 60%;
}


/*Section: Who We Are*/

#who {
    display: flex;
}

#who div {
    flex: 1;
}

#who .who-img {
    background: url('../imagenes/cafe11.jpg') no-repeat center center/cover;
}

#who .schedules {
    margin-top: 4rem;
}


/*Section Reserve image*/


/*Menu*/

#menu .item img {
    border-radius: 50%;
    display: block;
    /*Se utiliza display block para poder poner un width y mas
                    que todo poder CENTRARLOS con margin*/
    margin: auto;
    width: 80%
}

#menu .items {
    display: flex;
    align-content: center;
}


/*Section: Contact*/

#contact {
    display: flex;
}

.contact-form {
    width: 50%;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input {
    width: 100%;
    padding: 0.5rem;
}

#contact select {
    width: 90%;
    padding: 0.5rem;
    display: block;
}

.h3-1 {
    text-align: center;
    margin-bottom: 15px;
}

#testimony {
    width: 100%;
    height: 100%;
    position: relative;
}

.layout {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f2a304;
}

.comment-image {
    background: url(../imagenes/nathan-dumlao-66RxrYlPShI-unsplash.jpg) no-repeat center bottom/cover;
    opacity: 0.5;
    height: 500px;
}

.comment {
    width: 50%;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: 45%;
    z-index: 1;
}

.comment-square {
    position: absolute;
    top: 56%;
    left: 50%;
    z-index: 1;
    height: 0px;
    width: 0px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid #fff;
}

.description-comment {
    position: absolute;
    text-align: justify;
    padding: 2rem;
    display: block;
}

.descrip-combo {
    display: block;
}

.autor {
    left: 20%;
    top: 85%;
    z-index: 1;
    position: absolute;
}

@keyframes head_appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*Estilo de Reloj*/

.wrap {
    width: 90%;
    max-width: 1000px;
    /*margin:auto;*/
}

.widget {
    width: 20%;
    margin: 2em;
    /*margin:32px; */
}

.widget p {
    display: inline-block;
    line-height: 1em;
}

.fecha {
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1em;
    margin-bottom: 1rem;
    /*margin-bottom: 5px;*/
    background: #F1A303;
    padding: 20px;
    width: 100%;
}

.reloj {
    font-family: Oswald, Arial;
    width: 100%;
    height: 250%;
    padding: 20px;
    font-size: 1em;
    text-align: center;
    background: #F1A303;
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
    font-size: 1rem;
    display: block;
}

.contenedorImgs {
    max-width: 1075px;
    margin: auto;
    height: 500px;
    margin-top: 50px;
    box-shadow: 0 19px 38px rgba(80, 45, 45, 0.50), 0 15px 12px rgba(19, 19, 19, .40);
}

.Cafe97Section {
    position: absolute;
    height: 550px;
    width: 80%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.CoreSection {
    position: absolute;
    height: 550px;
    width: 80%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.Cafe97img {
    background: url(../imagenes/nathan-dumlao-71u2fOofI-U-unsplash.jpg) no-repeat center center/cover;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    height: 100%;
    width: 100%;
    transition: transform ease 0.3s;
}

.Core97img {
    background: url(../imagenes/christin-hume-Hcfwew744z4-unsplash.jpg) no-repeat center center/cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    height: 100%;
    width: 100%;
    transition: transform ease 0.3s;
}

.Cafe97imgLayout {
    height: 100%;
    width: 100%;
}

.Core97imgLayout {
    height: 100%;
    width: 100%;
}

.Cafe97imgLayout:hover {
    animation: animaColorCafe97 5s 1;
}

.Core97imgLayout:hover {
    animation: animaColorCore97 5s 1;
}

.Cafe97img:hover {
    transform: scale(1.2);
}
.bodyHomePage{
    background-image: linear-gradient(to bottom left, #f5deb6 0%, #c29033  100%);
    height: 644px;
}
.Core97img:hover {
    transform: scale(1.2);
}
.l-title{
    font-size: 4rem;
    position: absolute;
}
.l-Cafe97{
    left: 15%;
    top: 55%;
    color: #ffffff;
    letter-spacing: 0.5rem;
    text-shadow: 0px 5px 4px rgba(110, 110, 110, 0.568);
}
.l-Core97{
    left: 54%;
    top: 22%;
    color:   #ffffff;
    letter-spacing: 0.5rem;
    text-shadow: 0px 5px 4px rgba(110, 110, 110, 0.568);
}

@keyframes animaColorCore97 {
    0% {
        background-color: none;
    }
    50% {
        background-color: rgba(255, 126, 66, 0.4)
    }
    100% {
        background-color: none;
    }
}

@keyframes animaColorCafe97 {
    0% {
        background-color: none;
    }
    50% {
        background-color: rgba(255, 145, 0, 0.4)
    }
    100% {
        background-color: none;
    }
}